@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  overflow: hidden;
}

.store-logo{
    margin: 2rem 0 0 2rem;
}
.store-logo > a {
    text-decoration: none;
    color: #000;
}

.login__wrapper {
  height: 100vh;
  display: flex;
}
.login__left {
  flex: 1;
}
.login__right {
  flex: 1;
}

.login__img-container {
  background: url("/images/login/login-image.avif") no-repeat center right;
  background-size: cover;
  height: 100%;
}

.form-wrapper {
  padding-right: 50px;
  flex: 1;
  text-align: left;
  margin: 100px 0 0 100px;
  display: flex;
  flex-direction: column;
}

.nav-tabs {
  border-bottom: 1px solid #70707085;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: 500;

  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-tabs > div {
  cursor: pointer;
  margin-right: 30px;
}
.nav-tabs > div > a {
  cursor: pointer;
  text-decoration: none;
  color: #999999;
}

.form-login-container {
  display: flex;
  flex-direction: column;
}
.form-login-container > h1,
p {
  margin: 20px auto auto 0;
}
.form-login-container > p {
  margin-bottom: 50px;
}

.email-container,
.password-container,
.fullname-container {
  transition: 0.3s;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email-container > input,
.password-container > input,
.fullname-container > input {
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f2f3f5;
  height: 50px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
}

.email-container > label,
.password-container > label,
.fullname-container > label {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 0.5rem;
}

.email-container > label > span,
.password-container > label > span,
.fullname-container > label > span {
  color: #ff6280;
}

.form-submit-button {
  border: none;
  padding: 1rem;
  width: 50%;
  margin: 20px auto;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 5px;
  color: #fefefe;
  background: -webkit-linear-gradient(
    180deg,
    hsl(301, 96%, 70%),
    hsl(248, 100%, 87%)
  );
  transition: all 0.3s ease ease-in;
  
}

.form-submit-button:hover {
    background: -webkit-linear-gradient(
       60deg,
      hsl(301, 96%, 70%),
      hsl(248, 100%, 87%)
    );
    
  }

.alternative-button {
  width: 50%;
  margin: auto;
}

.alternative-button > p > span > a{
  color: hsl(301, 96%, 70%);
  cursor: pointer;
  text-decoration: none;
}

.item-active {
  font-weight: 600;
    border-bottom: 3px solid hsl(248, 100%, 79%);
    color: #000!important;
}
