.all-products{
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 100px 50px;
    gap: 2rem;
    margin:  auto;
  }
  .top-prod-title {
    font-size: 65px;  
  }
  